<ion-content [fullscreen]="true" class="login">

 
  <div class="hero">
    <img class="logo" src="assets/icon/Tinder_logo.svg" alt="tinder" />
  </div>

  
  <div class="card">
    <h1>Log in</h1>

    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
      <app-input
        label="Email"
        type="email"
        [formControl]="email"
        placeholder="you@email.com">
      </app-input>

      <app-input
        label="Password"
        type="password"
        [formControl]="password"
        placeholder="•••••••">
      </app-input>

      <app-button class="btn-primary" type="submit" [disabled]="loginForm.invalid">
        Log in
      </app-button>
    </form>

    <button class="btn-ghost" type="button" routerLink="/register">
      Don’t have an account?
    </button>
  </div>


  <div class="footer-hint">
    By logging in you agree to our
    <a href="#" (click)="$event.preventDefault()">Terms</a> &amp;
    <a href="#" (click)="$event.preventDefault()">Privacy</a>.
  </div>
</ion-content>
