.pink{ --background:#ff5a66; color:#fff; }
.logo-top{ display:flex; justify-content:center; margin:7vh 0 16px; img{width:90px;} }
.title{ color:#fff; margin-bottom:12px; }
.choices ion-button{ margin:10px 0; --border-radius:24px; --border-color:#fff; color:#fff; }
.transp{ --background:transparent; color:#fff; margin-top:8px; }
