.pink { --background:#ff5a66; }
.logo-top { display:flex; justify-content:center; margin:8vh 0 8px; img{width:96px;} }
.title { text-align:center; color:#fff; font-weight:800; margin-bottom:12px; }
app-input{ display:block; margin-bottom:10px; }
