<ion-header>
  <ion-toolbar>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="conversations$ | async as convs; else empty">
    <ion-item button detail="true" *ngFor="let c of convs" (click)="open(c)">
      <ion-avatar slot="start">
        <img [src]="c.other?.photoUrl || 'assets/icon/favicon.png'" alt="avatar" />
      </ion-avatar>

      <ion-label>
        <h2>
          {{ c.other?.name }}
          <ng-container *ngIf="c.other?.lastName">&nbsp;{{ c.other?.lastName }}</ng-container>
        </h2>
        <p>{{ c.lastText || 'Say hi!' }}</p>
      </ion-label>

      <ion-badge *ngIf="(c.unread ?? 0) > 0" color="danger">{{ c.unread }}</ion-badge>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <div class="empty ion-padding">
      <p>No conversations yet.</p>
    </div>
  </ng-template>
</ion-content>
